body {
    font-family: Arial, sans-serif;
    background-image: url("./fondo.jpg");
  }
     
  h1 {
    text-align: center;
    margin-top: 50px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 8px;
      margin: 8px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-top: 5px;
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
  #grid{
    text-align: center;
  }
  #control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #reset{
    height: 30px;
    font-size: 18px;
    background-color: #d3ef1b;
    color: #fff;
    border: none;
    border-radius: 3px;
    display: none;
  }
  
 #oportunidades{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #btnResetPuntajes{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }